services:
  vessel:
    build:
      context: .
      args:
        USER_ID: ${HOST_UID:-1000}
        GROUP_ID: ${HOST_GID:-1000}
    image: sky1218/vessel-measure:latest
    container_name: vessel_measure
    user: "${HOST_UID:-1000}:${HOST_GID:-1000}"
    ports:
      - "3015:8501"
    volumes:
      - ./user_configs:/app/user_configs
      - ./temp:/app/temp
      - ./app:/app/app:ro
      - ./scripts:/app/scripts:ro
      - ./secrets:/app/secrets:ro
      - ./.streamlit:/app/.streamlit:ro
      - ./models:/app/models:ro
    restart: unless-stopped
    deploy:
      resources:
        reservations:
          devices:
            - driver: nvidia
              count: all
              capabilities: ["gpu"]
