services:
  vessel:
    image: sky1218/vessel-measure:latest
    container_name: vessel_measure
    user: "${HOST_UID:-1000}:${HOST_GID:-1000}"
    ports:
      - "3015:8501"
    volumes:
      - ./app:/app/app:ro
      - ./scripts:/app/scripts:ro
      - ./.streamlit:/app/.streamlit:ro
      - ./user_configs:/app/user_configs
      - ./temp:/app/temp
      - ./secrets:/app/secrets:ro
    environment:
      - STREAMLIT_SERVER_PORT=8501
      - STREAMLIT_SERVER_ADDRESS=0.0.0.0
    restart: unless-stopped
    deploy:
      resources:
        reservations:
          devices:
            - driver: nvidia
              count: all
              capabilities: [gpu]

